.maincard{
    margin: 5px;
    padding: 15px;

    flex: 1 1 0%;

    border: solid 6px var(--primary--color);
    border-radius: 2px;

    text-align: center;
}
.maincard header{
    margin-bottom: 30px;
    color: var(--primary--color);
}
.card-fiexWidth-midle{
    max-width: 280px;
}
.card-fiexWidth-big{
    max-width: 620px;
}
.data{
    font-family: var(--bold--font);
} 