body{
    background-color: var(--bg);
    color: var(--colortext--default);
    font-family: var(--main--font);
}
.t-center-small{
    text-align: center;
    font-size: 12pt;
}
.t-center-midle{
    text-align: center;
    font-size: 25pt;
}
.t-center-big{
    text-align: center;
    font-size: 35pt;
}
.t-small{
    font-size: 25pt;
}
.t-midle{
    font-size: 25pt;
}
.t-big{
    font-size: 35pt;
}
.p-inline-block{
    display: inline-block;
}
.center-item-wrap{
    align-items: center;
    display: flex;
    flex-wrap: unset;
    justify-content: center;
}
