body{
    font-family: var(--main--font);
}
.t-center-small{
    text-align: center;
    font-size: 12pt;
}
.t-center-midle{
    text-align: center;
    font-size: 23pt;
}
.t-center-big{
    text-align: center;
    font-size: 35pt;
}
.subtitulo{
    font-family: var(--light--font);
}
.center-item-wrap{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.p-inline-blok{
    display: inline-block;
}